#add_task_button {
    cursor: pointer;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px;
    width: 100px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#add_task_button:hover {
    background-color: rgb(0, 164, 164);
}


/*authorをslidebarの一番下側に表示する*/
#slidbar_author{
    position: absolute;
    bottom: 0;
}
