

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.1s;
}

#ask_task_title{
  width: 300px;
}

#ask_task_info {
  width: 300px;
  /* 任意の幅を指定 */
  resize: none;
  /* ユーザーによるリサイズを無効化 */
}


input[type="text"] {
  font-size: 24px;
}
textarea{
  font-size: 24px;
}

#overlay_ope{
  display: flex;
  justify-content: flex-end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}