

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#ask_task_title{
  width: 300px;
}
#ask_task_info {
  width: 300px;
  /* 任意の幅を指定 */
  resize: none;
  /* ユーザーによるリサイズを無効化 */
}

#closeBtn {
  margin-top: 10px;
}

input[type="text"] {
  font-size: 24px;
}
textarea{
  font-size: 24px;
}